In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [5]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [6]:
df.index=['canada',
              'France',
              'Germany',
              'Italy',
              'Japan',
              'UK',
              'USA'

]

In [7]:
df

         Population       GDP  Surface Area    HDI Continent
canada       35.467   1785387       9984670  0.913   America
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
USA         318.523  17348075       9525067  0.915   America

In [8]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [9]:
df.index

Index(['canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, canada to USA
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [11]:
df.describe() #nümerik olan verileri verir

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [12]:
df.size

35

In [13]:
df.shape

(7, 5)

In [14]:
df.loc["canada"]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: canada, dtype: object

In [15]:
df.iloc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: canada, dtype: object

In [16]:
df["Continent"]

canada     America
France      Europe
Germany     Europe
Italy       Europe
Japan         Asia
UK          Europe
USA        America
Name: Continent, dtype: object

In [17]:
df["Continent"].to_frame()     #to frame kullanırım ki nereye göndereceğimi seçebilirim.*

        Continent
canada    America
France     Europe
Germany    Europe
Italy      Europe
Japan        Asia
UK         Europe
USA       America

In [18]:
df[["Continent","GDP"]]  #2 parantez kullanarak dataframe çevirdik.

        Continent       GDP
canada    America   1785387
France     Europe   2833687
Germany    Europe   3874437
Italy      Europe   2167744
Japan        Asia   4602367
UK         Europe   2950039
USA       America  17348075

In [19]:
df[1:3]  #3 sürece dahil değil.

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [20]:
df.loc["France":"Italy"]  #*Yazdığım da sürece dahil.

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

In [21]:
a=df.loc["France":"Italy","GDP"]
a

France     2833687
Germany    3874437
Italy      2167744
Name: GDP, dtype: int64

In [22]:
print(type(a))
print(a.dtypes)

<class 'pandas.core.series.Series'>
int64

In [23]:
df.loc["France":"Italy",["GDP","Population"]] #içiçe parantez DATAFRAME **!

             GDP  Population
France   2833687      63.951
Germany  3874437      80.940
Italy    2167744      60.665

In [24]:
df["Population"]>70

canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
USA         True
Name: Population, dtype: bool

In [25]:
df.loc[df["Population"]>70]

         Population       GDP  Surface Area    HDI Continent
Germany      80.940   3874437        357114  0.916    Europe
Japan       127.061   4602367        377930  0.891      Asia
USA         318.523  17348075       9525067  0.915   America

In [26]:
df.drop("canada")

         Population       GDP  Surface Area    HDI Continent
France       63.951   2833687        640679  0.888    Europe
Germany      80.940   3874437        357114  0.916    Europe
Italy        60.665   2167744        301336  0.873    Europe
Japan       127.061   4602367        377930  0.891      Asia
UK           64.511   2950039        242495  0.907    Europe
USA         318.523  17348075       9525067  0.915   America

In [27]:
df  
"""drop benim orijinal dataframe etkilemedi. tekrar yazarak kontrol edebiliriz. 
veriyi manipüle ederken yeni bir değişkene atamamaliyiz. ayni şekilde değişkene devam
df2=df.drop("Canada")   gibi !
"""

'drop benim orijinal dataframe etkilemedi. tekrar yazarak kontrol edebiliriz. \nveriyi manipüle ederken yeni bir değişkene atamamaliyiz. ayni şekilde değişkene devam\ndf2=df.drop("Canada")   gibi !\n'

In [28]:
df.drop(columns=["Population","HDI"])

              GDP  Surface Area Continent
canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
USA      17348075       9525067   America

In [29]:
df.drop(["Population","HDI"],axis=1)

              GDP  Surface Area Continent
canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
USA      17348075       9525067   America

In [30]:
df.drop(["Population","HDI"],axis="columns") #columns aynı şwekilde tanır.

              GDP  Surface Area Continent
canada    1785387       9984670   America
France    2833687        640679    Europe
Germany   3874437        357114    Europe
Italy     2167744        301336    Europe
Japan     4602367        377930      Asia
UK        2950039        242495    Europe
USA      17348075       9525067   America

In [31]:
df[["Population","GDP"]]

         Population       GDP
canada       35.467   1785387
France       63.951   2833687
Germany      80.940   3874437
Italy        60.665   2167744
Japan       127.061   4602367
UK           64.511   2950039
USA         318.523  17348075

In [32]:
df[["Population","GDP"]]/100

         Population        GDP
canada      0.35467   17853.87
France      0.63951   28336.87
Germany     0.80940   38744.37
Italy       0.60665   21677.44
Japan       1.27061   46023.67
UK          0.64511   29500.39
USA         3.18523  173480.75

In [37]:
langs=pd.Series(["French","German","Italian"],
                index=["France","Germany","Italy"],
                name="Language")

In [38]:
langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [41]:
df["Language"]=langs
df

         Population       GDP  Surface Area    HDI Continent Language
canada       35.467   1785387       9984670  0.913   America      NaN
France       63.951   2833687        640679  0.888    Europe   French
Germany      80.940   3874437        357114  0.916    Europe   German
Italy        60.665   2167744        301336  0.873    Europe  Italian
Japan       127.061   4602367        377930  0.891      Asia      NaN
UK           64.511   2950039        242495  0.907    Europe      NaN
USA         318.523  17348075       9525067  0.915   America      NaN

In [44]:
new_row=(pd.Series({
    "Population":83.000,
    "Continent":"Europe",
    "Language":"Türkçe"
},name="Türkiye"
)
    
)

In [45]:
new_row

Population      83.0
Continent     Europe
Language      Türkçe
Name: Türkiye, dtype: object

apend kullanmak istedik fakat sürümden dolayı append yaptık.
df.append(pd.Series({
    "Population":83.000,
    "Continent":"Europe",
    "Language":"Türkçe"
},name="Türkiye"
)
    
)
df.append()

In [46]:
#[df7, new_row.to_frame().T], ignore_index=True
pd.concat([df, new_row.to_frame().T], ignore_index=False) #Tranpose

        Population         GDP  Surface Area    HDI Continent Language
canada      35.467   1785387.0     9984670.0  0.913   America      NaN
France      63.951   2833687.0      640679.0  0.888    Europe   French
Germany      80.94   3874437.0      357114.0  0.916    Europe   German
Italy       60.665   2167744.0      301336.0  0.873    Europe  Italian
Japan      127.061   4602367.0      377930.0  0.891      Asia      NaN
UK          64.511   2950039.0      242495.0  0.907    Europe      NaN
USA        318.523  17348075.0     9525067.0  0.915   America      NaN
Türkiye       83.0         NaN           NaN    NaN    Europe   Türkçe

In [ ]:
# <https://pandas.pydata.org/docs/reference/api/pandas.concat.html> concat ile ilgili örnekler